# Byte-compiled / optimized / DLL files
__pycache__/
env/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# AWS Lambda local artifacts
.aws-sam/

# VSCode settings
.vscode/

# Logs and databases
*.log
*.sqlite3

# Python packaging
*.egg-info/
dist/
build/

# macOS
.DS_Store